DATABASE_URL=database_url
SECRET_KEY=secret_key
RESET_TOKEN=reset_token
ALGORITHM=algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=access_token_expire_minutes
RESET_TOKEN_EXPIRE_MINUTES=reset_token_expire_minutes