DATABASE_URL=database_url
SECRET_KEY=secret_key
RESET_TOKEN=reset_token
REFRESH_TOKEN_SECRET=refresh_token_secret
ALGORITHM=algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=access_token_expire_minutes
RESET_TOKEN_EXPIRE_MINUTES=reset_token_expire_minutes
REFRESH_TOKEN_EXPIRE_DAYS=refresh_token_expire_days
